* {
  background-color: teal;
}

h1 {
  text-align: center;
  color: orange;
  font-style: oblique
}

h3 {
  text-align: center;
  color: brown;
}

.button {
  border: 3px solid black;
}

.button:hover {
  transform: scale(1.2);
}

#options {
  display: flex;
  justify-content: space-evenly;
}

#ur_choice {
  text-align: center;
  color: yellow;
}

#comp_choice {
  text-align: center;
  color: yellow;
}

#display {
  text-align: center;
  display: flex;
  justify-content: center;
}

#reset {
  align-content: center;
  background-color: white;
  color: red;
}